@charset "UTF-8";
		*,*:after,*:before {
			box-sizing: border-box;
		}
		
		:root{
			--color-bg : #7c7c7c;
			--color-hz : #5a5a5a;
			--color-primary : #6e6e6e;
			--color-secondary : #414141;
			cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4NCiAgPGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTEiIGZpbGw9IiMwMDAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiAvPg0KPC9zdmc+DQoNCg0K"), auto;
		}
		
		.open-page.day {
			--color-bg : #ffffff;
			--color-hz : #6a6a6a;
			--color-primary : #d4d4d4;
			--color-secondary : #101010;
		}
		
		.open-page.night {
			--color-bg : #000000;
			--color-hz : #1a1a1a;
			--color-primary : #101010;
			--color-secondary : #d4d4d4;
		}
		
		.day.sunrise,.night.sunset{
			--color-hz : #5a5a5a;
		}
		
        body, html {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: auto;
			overflow: hidden;
			font-family: sans-serif;
			background: var(--color-bg);
        }
		
		body{
			user-select: none;
			pointer-events: none;
			transition: pointer-events 0s .5s allow-discrete,background 1s ease;
        }
		
		.sky-overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background: linear-gradient(180deg,#000000 0%, #ffffff 100%);
			transition: opacity 1s ease-in-out;
		}

		.sunrise .sky-overlay, .sunset .sky-overlay {
			opacity: 1;
		}
				
		#main-container{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			width: 100%;
			height: 100%;
		}
		
		.open-page body{
			pointer-events: auto;
		}
		
		.stars-group {
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 2px;
			background: transparent;
			display: none;
			opacity: 0;
			transition: opacity 1s ease-in-out,display 1s allow-discrete;
		}

		.night .stars-group.view { 
			display: block;
			opacity: 1;
		}
		
		.stars-group.blink {
			animation: flash .5s ease-in-out 1;
		}
		
		@keyframes flash {
			0% { 
				opacity: 1; 
				filter: brightness(1);
			}
			50% { 
				opacity: .5; 
				filter: brightness(5);
			}
			100% { 
				opacity: 1; 
				filter: brightness(1);
			}
		}
		
		#clock {
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 0;
			color: var(--color-secondary);
        }
		
		#time-display,#date-display {
			background-color: var(--color-primary);
			padding: 4px;
			border: 4px solid var(--color-secondary);
			border-radius: 10px;
			font-weight: bolder;
			text-align: center;
			box-shadow: inset 0 0 5px 2px var(--color-secondary);
        }

        #time-display {
			position: relative;
			transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s,background-color 1s ease,border-color 1s ease,box-shadow 1s ease;
		}
		
		.clockHere{
			display: flex;
			gap: 8px;
			--bw1 : 9px;
			--bw2 : 5px;
			--bw3 : 4px;
		}
		
		.clockHere > div{
			min-width: 25px;
			display: grid;
			grid-template-rows: 50% 50%;
		}
		
		.clockHere > div > div, .clockHere > div{
			box-sizing: border-box;
		}
		
		.clockHere > div:nth-child(6), .clockHere > div:nth-child(3){
			display: flex !important;
			flex-direction: column !important;
			gap: 15px;
			min-height: 15px;
			min-width: 15px !important;
		}
		
		.clockHere > div:nth-child(6) > div, .clockHere > div:nth-child(3) > div{
			background: var(--color-secondary);
			min-height: 15px;
			min-width: 15px;
			border: 4px solid var(--color-primary);
		}
		
		.num0Here{
			border: var(--bw1) solid var(--color-secondary);
		}
		
		.num1Here{
			border-right: var(--bw1) solid var(--color-secondary);
		}
		
		.num2Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-bottom: var(--bw3) solid var(--color-secondary);
			border-left: none;
		}
		
		.num2Here > div:last-child{
			border: var(--bw1) solid var(--color-secondary);
			border-right: none;
			border-top: var(--bw2) solid var(--color-secondary);
		}
		
		.num3Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-left: none;
			border-bottom: var(--bw3) solid var(--color-secondary);
		}
		
		.num3Here > div:last-child{
			border: var(--bw1) solid var(--color-secondary);
			border-left: none;
			border-top: var(--bw2) solid var(--color-secondary);
		}
		
		.num4Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-top: none;
			border-bottom: var(--bw3) solid var(--color-secondary);
		}
		
		.num4Here > div:last-child{
			border-right: var(--bw1) solid var(--color-secondary);
			border-left: none;
			border-bottom: none;
			border-top: var(--bw2) solid var(--color-secondary);
		}
		
		.num5Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-right: none;
			border-bottom: var(--bw3) solid var(--color-secondary);
		}
		
		.num5Here > div:last-child{
			border: var(--bw1) solid var(--color-secondary);
			border-left: none;
			border-top: var(--bw2) solid var(--color-secondary);
		}
		
		.num6Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-right: none;
			border-bottom: var(--bw3) solid var(--color-secondary);
		}
		
		.num6Here > div:last-child{
			border: var(--bw1) solid var(--color-secondary);
			border-top: var(--bw2) solid var(--color-secondary);
		}
		
		.num7Here{
			border-right: var(--bw1) solid var(--color-secondary);
			border-top: var(--bw1) solid var(--color-secondary);
		}
		
		.num8Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-bottom: var(--bw3) solid var(--color-secondary);
		}
		
		.num8Here > div:last-child{
			border: var(--bw1) solid var(--color-secondary);
			border-top: var(--bw2) solid var(--color-secondary);
		}
		
		.num9Here > div:first-child{
			border: var(--bw1) solid var(--color-secondary);
			border-bottom: var(--bw3) solid var(--color-secondary);
		}
		
		.num9Here > div:last-child{
			border: var(--bw1) solid var(--color-secondary);
			border-top: var(--bw2) solid var(--color-secondary);
			border-left: none;
		}

        #date-display {
			padding: .4rem;
			font-size: 1.4rem;
			letter-spacing: 2px;
			text-transform: capitalize;
			margin-top: 4px;
			border-width: 2px;
			//transform: translateY(0px) rotateX(-90deg);
			transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s,background-color 1s ease,border-color 1s ease,color 1s ease,box-shadow 1s ease;
		}
		
        /*#clock:hover #time-display {
			transform: translateY(-10px) scale(0.7);
        }

        #clock:hover #date-display {
			transform: translateY(-10px) rotateX(0deg); 
        }
		
		#clock:hover ~  #cat-global-container #cat {
			animation-play-state: paused;
			rotate : x 6deg;
        }*/
		
		.anim-active {
			animation: battement .5s ease-in 1s 1;
		 }
		 
		 @keyframes battement {
			0%, 15%, 100% {
			  d: path("M35,160 Q18,130 22,110 Q25,80 30,55 C35,20 60,10 80,45 L85,50 Q110,42 135,50 L140,45 C160,10 185,20 190,55 Q195,80 198,110 Q202,130 180,160");
			}
			50% {
			  d: path("M35,160 Q18,130 22,110 Q25,80 25,60 C25,25 50,15 75,48 L85,50 Q110,42 135,50 L145,48 C170,15 195,25 195,60 Q195,80 198,110 Q202,130 180,160");
			}
			100% {
			  d: path("M35,160 Q18,130 22,110 Q25,80 35,55 C45,25 70,15 85,45 L85,50 Q110,42 135,50 L135,45 C150,15 175,25 185,55 Q195,80 198,110 Q202,130 180,160");
			}
		  }

        .cat-blocker {
			position: absolute;
			bottom: 25%;
			width: 400px;
			max-width: 90%;
			height: 30%;
			border-top: 1px solid var(--color-primary);
			border-radius: 40px 40px 0 0;
			background-color: var(--color-secondary);
			z-index: 40;
			transform-style: preserve-3d;
			transform: translate3d(0,0,0);
		}
		
		.cat-blocker::before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 20px;
			bottom: 0;
			margin: auto;
			background-color: var(--color-hz);
			border-top: 1px solid var(--color-secondary);
			border-radius: 100% 100% 0 0;
		}
		
		.patte {
			position: absolute;
			top: -4px;
			width: 40px;
			height: 25px;
			background: var(--color-primary);
			border: 2px solid var(--color-secondary);
			border-radius: 35% 35% 50% 50%;
			overflow: hidden;
			transition: background-color 1s ease;
			z-index: 1;
		}
		
		.patte .d {
			content: "";
			display: inline-block;
			position: absolute;
			bottom: 2px;
			width: 4px;
			height: 10px;
			background: var(--color-secondary);
			border-radius: 30% 30% 100% 100%;
		}
		
		.patte.patte-gauche {left : 34%;}
		.patte.patte-droite {right : 34%;}
		
		.patte-gauche .d.d-1 {
			left: 15%;
		}
		
		.patte-gauche .d.d-2 {
			left: 40%;
		}
		
		.patte.patte-gauche .d.d-3 {
			left: 70%;
		}
		
		.patte-droite .d.d-1 {
			right: 15%;
		}
		
		.patte-droite .d.d-2 {
			right: 40%;
		}
		
		.patte.patte-droite .d.d-3 {
			right: 70%;
		}
		
		#cat-global-container{
			position: absolute;
			width: 330px;
			height: 250px;
			bottom: 35%;
			transition: bottom 0.5s ease-in-out 0.5s;
        }
		
		.open-page #cat-global-container{
			bottom: 55%;
		}
		
		.night #cat-global-container{
			bottom: 55%!important;
			transition:none;
		}
		
		#cat-hitbox,#cat-container {
			position: absolute;
			right: 0;
			margin: auto;
			bottom: -8px;
        }
		
        #cat-hitbox {
			width: 310px;
			height: 200px;
			left: -10px;
			z-index: 30;
        }

        #cat-container {
			width: 100%;
			height: 100%;
			left: 0;
			pointer-events: none; 
			perspective : 40px;
			transition: transform 0.1s ease,bottom 0.5s ease-in-out;
			z-index: 10;
        }
		
		.is-hiding #cat-container {
           bottom: -20%;
        }
		
		#cat-queut {
			position: absolute;
			bottom: 52%;
			left: 0;
			right: 0;
			margin: auto;
			width: 25px;
			height: 250px;
			border: 2px solid var(--color-secondary);
			border-radius: 20px 20px 0 0;
			background: var(--color-primary);
			z-index: 10;
			transform-origin: bottom;
			transition: bottom .2s ease-in-out,border-radius .2s ease-in-out,background-color 1s ease,border-color 1s ease;
			animation: remuer 2s ease-in-out infinite;
		}
		
		.is-hiding #cat-queut {
           animation-play-state: paused!important;
			animation : none!important;
			bottom: 54%;
			border-radius: 50% 50% 0 0!important;
        }
		
		#cat {
			position: absolute;
			bottom: 0;
			transform-origin: bottom;
			transform-style: preserve-3d;
			rotate : x 2deg;
			transition: rotate 0.5s cubic-bezier(0.4, 0, 0.2, 1) .2s;
			animation: jump 1s ease-in-out infinite;
        }
		
		@keyframes remuer {
		  0% {
			transform: rotate(-4deg);
		  }
		  50% {
			transform: rotate(4deg);
		  }
		  100% {
			transform: rotate(-4deg);
		  }
		}
		
		@keyframes jump {
		  0% {
			transform: rotateX(2deg);
		  }
		  50% {
			transform: rotateX(var(--value,4deg));
		  }
		  100% {
			transform: rotateX(2deg);
		  }
		}
		
        #cat-body {
			fill: var(--color-primary);
			stroke: var(--color-secondary);
			stroke-width: 2;
			stroke-linecap="round";
			stroke-linejoin="round";
			transform: translate3d(0,0,0);
			transition: fill 1s ease, stroke 1s ease;

        }
		
		.eye-white { 
			fill: var(--color-secondary);
			transition: fill 1s ease, stroke 1s ease;
		}
		
		.pupil {
			fill: var(--color-primary);
			stroke: none;
			transition: fill 1s ease, stroke 1s ease;
		}
		
		#eyes-blink,#eyes-cross{
			visibility: hidden;
		}
		
		#eyes-cross line {
			stroke: var(--color-secondary);
		}
		
		#eyes-cross line, .eye-closed {
			 stroke-width: 3;
			 stroke-linecap: round;
			 fill: var(--color-secondary);
			 transition: fill 1s ease, stroke 1s ease;
		}
		
		/* .night .eye-closed {
			 fill: none;
		} */
		 
		#whiskers-left {
			transform-origin: right;
		}
		
		#whiskers-right {
			transform-origin: left;
		}
		
		.whisker {
			stroke: var(--color-secondary);
			stroke-width: 1.5;
			fill: none;
			stroke-linecap: round;
			transition: fill 1s ease, stroke 1s ease;
		}
		
		.nose .nose-one {
			fill: var(--color-secondary);
			transition: fill 1s ease, stroke 1s ease;
		}
		
		#zzz-container {
		  position: absolute;
		  bottom: 20%;
		  left: 52%;
		  font-family: Arial, sans-serif;
		  font-weight: bold;
		  color: var(--color-secondary);
		  display: none;
		  opacity: 0;
		  transition: opacity .5s ease;
		}
		
		.night #zzz-container {
		  display: block;
		}
		
		#zzz-container span {
		  position: absolute;
		  opacity: 0;
		  animation: sleep 3s linear infinite ;
		}

		#zzz-container span:nth-child(1) { animation-delay: 0s; font-size: 15px; }
		#zzz-container span:nth-child(2) { animation-delay: 1s; font-size: 25px; }
		#zzz-container span:nth-child(3) { animation-delay: 2s; font-size: 35px; }

		@keyframes sleep {
		  0% {
			opacity: 0;
			transform: translate(0, 0) scale(0.5);
		  }
		  30% {
			opacity: 1;
		  }
		  100% {
			opacity: 0;
			transform: translate(40px, -100px) scale(1.2);
		  }
		}
		
		.nose .nose-two {
			fill: none;
			stroke: var(--color-secondary);
			stroke-width: 1.5;
			stroke-linecap: round;
			transition: fill 1s ease, stroke 1s ease;
		}
		
		.horizon-blocker {
			position: absolute;
			bottom: 0%;
			width: 100%;
			height: 50%;
			//border-top: 1px solid var(--color-secondary);
			background-color: var(--color-hz);
			pointer-events: none;
			z-index: 1;
			transition: background-color 1s ease,border-color 1s ease;
        }
		
		.curbure {
			position: absolute;
			width: 120%;
			height: 100px;
			top: -45px;
			left: -10%;
			background-color: var(--color-hz);
			border-top: 2px solid var(--color-secondary);
			border-radius: 100% 100% 0 0;
			transition: background-color 1s ease,border-color 1s ease;
        }
		
		.montagne{
			fill: var(--color-hz);
			stroke: var(--color-secondary);
			stroke-width: 4;
			transform: translate(10%,-100%);
			transition: fill 1s ease, stroke 1s ease;
		}
		
		.orbit-wrapper {
			position: relative;
			width: auto; 
			height: 90%;
			aspect-ratio : 1/1;
			border-radius: 50%;
			transform-origin: center center;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		.celestial-body {
			position: absolute;
			font-size: 4rem;
			transform: translate(-50%, -50%);
			color:var(--color-secondary);
			left: 50%;
			transition: opacity 1s ease, fill 1s ease, stroke 1s ease;
		}
		
		.sun {top: 0;}

		.moon {
			width: 80px;
			height: 80px;
			position: relative;
			top: 100%;
			background: #878787;
			transform: translate(-50%, -50%);
			filter: blur(1px) brightness(4) drop-shadow(0 0 20px #878787);
			border-radius: 50%;
			overflow: hidden;
        }
		
        .moon-shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            border-radius: 50%;
        }
		
		
		.day .moon, .night .sun{
			opacity: 0;
		}
		
		.night.sunset .moon {
			opacity: .1;
		}
		
		.night.sunset .sun {
			opacity: 1;
		}
		
		.open-page .orbit-wrapper {opacity: 1;}
		
		.sky {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			overflow: hidden;
			z-index: 1;
		}

		.open-page .cloud {
			position: absolute;
			left: 150%;
			width: 200px;
			height: 67px;
			background-color: var(--color-secondary);
			//border: 2px solid var(--color-primary);
			border-radius: 100px;
			animation-name: moveclouds;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}

		@keyframes moveclouds {
			0% {
				left: 150%;
			}
			100% {
				left: -150%;
			}
		}


		.cloud::before,
		.cloud::after {
			content: '';
			display: block;
			position: absolute;
			background: inherit;
			border-radius: 100%;
			//border-top: 2px solid var(--color-primary);
			border-left: 1px solid var(--color-primary);
			transform: rotate(40deg);
		}

		.cloud::before {
			width: 100px;
			height: 100px;
			top: -50px;
			left: 20px;
		}

		.cloud::after {
			width: 80px;
			height: 80px;
			top: -30px;
			left: 90px;
		}

		.x1 {
			top: 5%;
			animation-duration: 35s;
			transform: scale(0.6);
			opacity: 0.8;
		}

		.x2 {
			top: 10%;
			animation-duration: 50s;
			animation-delay: 5s;
			transform: scale(0.8);
			opacity: 0.6;
		}

		.x3 {
			top: 40%;
			animation-duration: 40s;
			transform: scale(0.9);
			opacity: 0.9;
		}

		.x4 {
			top: 25%;
			animation-duration: 60s;
			animation-delay: 10s;
			transform: scale(0.6);
			opacity: 0.7;
		}

		.x5 {
			top: 15%;
			animation-duration: 30s;
			animation-delay: 8s;
			transform: scale(1);
			opacity: 0.7;
		}
		
		.loader{
			position: absolute;
			background: #000;
			width: 50%;
			height: 100%;
			top: 0;
			transition: transform 1s cubic-bezier(.79,.14,.15,.86) 1s,opacity .1s 2s;
			z-index: 999;
		}
		
		.loader-left{
			left: 0; 
			border-right: 2px solid #fff;
		}
		
		.loader-right{
			right: 0; 
			border-left: 2px solid #fff;
		}
		
		.open-page .loader{
			opacity: 0;
		}
		
		.open-page .loader-left{
			transform: translateX(-100vw);
		}
		
		.open-page .loader-right{
			transform: translateX(100vw);
		}
		
		.loader::before,.loader::after{
			content: "";
			position: absolute;
			display: block;
			background: #000;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		
		.loader::before{
			width: 200px;
			height: 200px;
			border: 4px solid #fff;
			border-radius: 100%;
		}
		
		.loader::after{
			width: 100%;
			height: 100%;
			visibility: hidden;
			transition: visibility 0s 1s;
		}
		
		.loader-left::before{
			right: -104px; 
			border-color: #fff;
		}
		
		.loader-right::before{
			left: -100px; 
			border-color: #fff;
			border-style: dashed;
			animation: spin 1s cubic-bezier(.79,.14,.15,.86) infinite;
			transition: border 1s;
		}
		
		.open-page .loader-right::before{
			animation: none;
			border-style: solid;
		}
		
		.open-page .loader::after{
			visibility: visible;
		}
		
		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
		
@media only screen and (max-width: 720px) {
	.orbit-wrapper {
		width: 90%; 
		height: auto;
	}
}

@media only screen and (max-width: 320px) {
	#time-display {
		transform: scale(.8);
	}
}