@charset "UTF-8";
:root{
			cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4NCiAgPGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTEiIGZpbGw9IiMwMDAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiAvPg0KPC9zdmc+DQoNCg0K"), auto;
		}
		
		.day {
			--color-bg : #fff;
			--color-primary : #d4d4d4;
			--color-secondary : #101010;
		}
		
		.night {
			--color-bg : #000;
			--color-primary : #101010;
			--color-secondary : #d4d4d4;
		}
		
		html{
			transition: background-color 1s ease;
        }
				
        body, html {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: auto;
			overflow: hidden;
			font-family: sans-serif;
			background-color: var(--color-bg);
        }
		
		body{
			user-select: none;
			pointer-events: none;
			transition: pointer-events 0s .5s allow-discrete,background-color 1s ease;
        }
		
		#main-container{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			width: 100%;
			height: 100%;
		}
		
		.open-page body{
			pointer-events: auto;
		}
		
		#clock {
			position: absolute;
			top: 18%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 50;
			color: var(--color-secondary);
			padding: 4px;
        }
		
		#time-display,#date-display {
			background-color: var(--color-primary);
			padding: 4px;
			border: 4px solid var(--color-secondary);
        }

        #time-display {
			position: relative;
			font-size: 4rem;
			font-weight: 200;
			letter-spacing: 5px;
			border-radius: 20%;
			transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        }
		
		 #time-display::after {
			content: "";
			position: absolute;
			width: 2px;
			display: block;
			height: 100%;
			z-index: 999;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			background: var(--color-secondary);
        }

        #date-display {
			font-size: 1.4rem;
			letter-spacing: 2px;
			text-transform: capitalize;
			margin-top: 4px;
			border-width: 2px;
			border-radius: 10px;
			display: none;
			opacity: 0;
			transform: translateY(0px) rotateX(-90deg);
			transition: 
				transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
				opacity 0.1s ease,
				display 0.1s ease allow-discrete;
		}
		
        #clock:hover #time-display {
			font-size: 1.8rem; 
			transform: translateY(-10px) rotateX(360deg);
			letter-spacing: 2px;
			border-width: 2px;
        }

        #clock:hover #date-display {
			display: block;
			opacity: 1;
			transform: translateY(-10px) rotateX(0deg); 
        }
		
		@starting-style {
			#clock:hover #date-display {
				opacity: 0;
				transform: translateY(0px) rotateX(-90deg);
			}
		}
		
		#clock:hover ~  #cat-global-container #cat {
			transform : rotateX(6deg);
			animation-play-state: paused;
			animation: none;
        }
		
		.anim-active {
			animation: battement .5s ease-in 1s 1;
		 }
		 
		 @keyframes battement {
			0%, 15%, 100% {
			  d: path("M35,160 Q18,130 22,110 Q25,80 30,55 C35,20 60,10 80,45 L85,50 Q110,42 135,50 L140,45 C160,10 185,20 190,55 Q195,80 198,110 Q202,130 180,160");
			}
			50% {
			  d: path("M35,160 Q18,130 22,110 Q25,80 25,60 C25,25 50,15 75,48 L85,50 Q110,42 135,50 L145,48 C170,15 195,25 195,60 Q195,80 198,110 Q202,130 180,160");
			}
			100% {
			  d: path("M35,160 Q18,130 22,110 Q25,80 35,55 C45,25 70,15 85,45 L85,50 Q110,42 135,50 L135,45 C150,15 175,25 185,55 Q195,80 198,110 Q202,130 180,160");
			}
		  }

        .cat-blocker {
			position: absolute;
			bottom: 0;
			width: 500px;
			height: 30%;
			border-top: 1px solid var(--color-primary);
			border-radius: 20% 20% 0 0;
			background-color: var(--color-secondary);
			z-index: 40;
			transform-style: preserve-3d;
			transform: translate3d(0,0,0);
        }
		
		.patte {
			position: absolute;
			top: -4px;
			width: 40px;
			height: 25px;
			background: var(--color-primary);
			border: 2px solid var(--color-secondary);
			border-radius: 35% 35% 50% 50%;
			overflow: hidden;
		}
		
		.patte .d {
			content: "";
			display: inline-block;
			position: absolute;
			bottom: 2px;
			width: 4px;
			height: 10px;
			background: var(--color-secondary);
			border-radius: 30% 30% 100% 100%;
		}
		
		.patte.patte-gauche {left : 34%;}
		.patte.patte-droite {right : 34%;}
		
		.patte-gauche .d.d-1 {
			left: 15%;
		}
		
		.patte-gauche .d.d-2 {
			left: 40%;
		}
		
		.patte.patte-gauche .d.d-3 {
			left: 70%;
		}
		
		.patte-droite .d.d-1 {
			right: 15%;
		}
		
		.patte-droite .d.d-2 {
			right: 40%;
		}
		
		.patte.patte-droite .d.d-3 {
			right: 70%;
		}
		
		#cat-global-container{
			position: absolute;
			width: 420px;
			height: 360px;
			bottom: 8%;
			transition: bottom 0.5s ease-in-out 0.5s;
        }
		
		#cat-hitbox,#cat-container {
			position: absolute;
			width: 100%;
			height: 100%;
			margin: auto;
			bottom: -8px;
        }
		
        #cat-hitbox {
			z-index: 30;
        }

        #cat-container {
			pointer-events: none; 
			perspective : 40px;
			transition: transform 0.1s ease,bottom 0.5s ease-in-out;
			z-index: 10;
        }
		
		.is-hiding #cat-container {
           bottom: -20%;
        }
		
		.open-page #cat-global-container{
			bottom: 22%;
		}
		
		#cat-queut {
			position: absolute;
			bottom: 29%;
			left: 0;
			right: 0;
			margin: auto;
			width: 25px;
			height: 250px;
			border: 2px solid var(--color-secondary);
			border-radius: 20px 20px 0 0;
			background: var(--color-primary);
			z-index: 10;
			transform-origin: bottom;
			animation: remuer 2s ease-in-out infinite;
			transform-style: preserve-3d;
			transition: bottom .2s ease-in-out,border-radius .2s ease-in-out;transform .3s ease-in-out;
			transform: translate3d(0,0,0);
		}
		
		.is-hiding #cat-queut {
           animation-play-state: paused;
			animation : none;
			bottom: 31%;
			border-radius: 50% 50% 0 0;
        }
		
		#cat {
			transform-origin: bottom;
			transform-style: preserve-3d;
			transform : rotateX(2deg);
			transition: transform 0.7s ease-in-out;
			animation: jump 1s ease-in-out infinite;
        }
		
		@keyframes remuer {
		  0% {
			transform: rotate(-4deg);
		  }
		  50% {
			transform: rotate(4deg);
		  }
		  100% {
			transform: rotate(-4deg);
		  }
		}
		
		@keyframes jump {
		  0% {
			transform: rotateX(2deg);
		  }
		  50% {
			transform: rotateX(var(--value,4deg));
		  }
		  100% {
			transform: rotateX(2deg);
		  }
		}
		
        #cat-body {
			fill: var(--color-primary);
			stroke: var(--color-secondary);
			stroke-width: 2;
			stroke-linecap="round";
			stroke-linejoin="round";
        }
		
		.eye-white { 
			fill: var(--color-secondary);
		}
		
		.pupil {
			fill: var(--color-primary);
			stroke: none;
		}
		
		#eyes-blink,#eyes-cross{
			visibility: hidden;
		}
		
		#eyes-cross line {
			stroke: var(--color-secondary);
		}
		
		#eyes-cross line, .eye-closed {
			 stroke-width: 3;
			 stroke-linecap: round;
			 fill: none;
		}
		 
		#whiskers-left {
			transform-origin: right;
		}
		
		#whiskers-right {
			transform-origin: left;
		}
		
		.whisker {
			stroke: var(--color-secondary);
			stroke-width: 1.5;
			fill: none;
			stroke-linecap: round;
		}
		
		.nose .nose-one {
			fill: var(--color-secondary);
		}
		.nose .nose-two {
			fill: none;
			stroke: var(--color-secondary);
			stroke-width: 1.5;
			stroke-linecap: round;
		}
		
		#monAudio{
			position : absolute;
			bottom : 0;
			margin : auto;
			z-index : 999;
		}
		
		.horizon-blocker {
			position: absolute;
			bottom: 0%;
			width: 100%;
			height: 55%;
			border-top: 1px solid var(--color-secondary);
			background-color: #2e2e2e;
			pointer-events: none;
			z-index: 1;
        }
		
		.orbit-wrapper {
			position: relative;
			width: 41vw; 
			height: 41vw;
			max-width: 800px;
			max-height: 800px;
			border-radius: 50%;
			transform-origin: center center;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		.celestial-body {
			position: absolute;
			font-size: 4rem;
			transform: translate(-50%, -50%);
			color:var(--color-secondary);
		}
		
		.sun, .moon {left: 50%;}

		.sun {top: 0;}

		.moon {bottom: 0;}
		
		.open-page .orbit-wrapper {opacity: 1;}